<html>
  <head>
  </head>
  <body>
    <form name="form" method="post" action="create">

      <!--province_city_district start -->
      <ul>
        <li>起始地</li>
        <li class="call_input">
        <select name="shipment[province_id]" id="shipment_province_id"  class="placeInput" placeholder="省市"></select>
        <select name="shipment[city_id]" id="shipment_city_id"  class="placeInput" placeholder="城市"></select>
        <select name="shipment[county_id]" id="shipment_county_id" class="placeInput"  style="display:inline;" placeholder="区县"></select>
        <%= text_field_tag :street %>
        <% if false %>          
          <input class="placeInput" placeholder="从哪里出发?" id="startaddress" type="text" value="" name="startaddress" autocomplete="off" />
      <% end %>
        </li>
      </ul>

      <ul>
        <li>目的地</li>
        <li class="call_input">
        <select name="shipment[to_province_id]" id="shipment_to_province_id"></select>
        <select name="shipment[to_city_id]" id="shipment_to_city_id"></select>
        <select name="shipment[to_county_id]" id="shipment_to_county_id" style="display:inline;"></select>
        <%= text_field_tag :to_street %>
        <% if false %>
          <input class="placeInput" type="text" id="endaddress" name="endaddress" value="" placeholder="送到哪里去？" autocomplete="off" />
      <% end %>
        </li>
      </ul>

      <!--province_city_district end -->

      <table width="500" border="0" align="center" cellpadding="0" cellspacing="2">
        <tr>
          <td width="143" height="25">name: </td>
          <td width="351"><input name="question[name]" type="text" id="name" size="20"></td>
        </tr>
        <tr>
          <td height="25">age: </td>
          <td><select name="question[age]" id="age">
              <option value="5" selected>5</option>
              <option value="6" >6</option>
              <option value="7" >7</option>
              <option value="8" >8</option>
              <option value="9" >9</option>
              <option value="10" >10</option>
              <option value="11" >11</option>
              <option value="12" >12</option>
            </select>
          </td>
        </tr>
        <tr>
          <td height="25">agender: </td>
          <td><input name="question[radiobutton]" type="radio" value="radiobutton" checked>
            boy 
            <input name="question[radiobutton]" type="radio" value="radiobutton" >
            gril</td>
        </tr>
        <tr>
          <td height="25">address: </td>
          <td><input name="question[textfield]" type="text" size="40"></td>
        </tr>
        <tr>
          <td height="25">telephone number: </td>
          <td><input name="question[textfield2]" type="text" size="15"></td>
        </tr>
        <tr>
          <td height="25">ideas about products: </td>
          <td><input type="checkbox" name="question[checkbox]" value="checkbox">
            great
            <input type="checkbox" name="question[checkbox2]" value="checkbox">
            good
            <input type="checkbox" name="question[checkbox2]" value="checkbox">
            bad</td>
        </tr>
        <tr>
          <td height="25">advices: </td>
          <td>
            <textarea name="question[textarea]" cols="40" rows="6"></textarea>
          </td>
        </tr>
        <tr>
          <td height="25" colspan="2" align="center">
            <input type="submit" name="question[Submit3]" value="submit">
            <input type="submit" name="question[Submit4]" value="reset">
          </td>
        </tr>
        </table>
      </form>
      <% @questionnaires.each do |q| %>
        <p>id: <%= q.id %></p>
        <p>name: <%= q.name %></p>
        <p>age: <%= q.age %></p>
        <p>created: <%= q.created_at %></p>
      <% end %>

      <script src="/javascripts/area.js"></script><script src="/javascripts/shipment.js"></script>
      </body>
    </html>
